if (ARCH_OWL)

config PINCTRL_OWL
	tristate "Actions Owl pin controller driver"
	depends on GPIOLIB && OF
	select PINMUX
	select PINCONF
	select GENERIC_PINCONF
	select GPIOLIB_IRQCHIP
	help
	  This is the pinctrl, pinmux, pinconf and gpiolib driver for the
	  Actions Owl Soc.
endif
